* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hue: 900;
  --bg-color: #ffff;
  --color-text: #323238;
  --primary-color: hsl(var(--hue), 83%, 16%);
  --bg-sound: hsl(var(--hue), 100%, 88%);
}

body {
  font-size: 1.6rem;
  
  display: grid;
  height: 100vh;
  place-content: center;
}

main {
  grid-area: main;
  align-self: center;
}

#container {
  display: grid;
  grid-template-areas: "main aside";
  gap: clamp(3rem, 3.1vw, 10rem);
}

#controls {
  display: flex;
  gap: clamp(2.7rem, 3.1vw, 8rem);
  padding: 1rem;
}

#controls button img{
  width: clamp(3.2rem, 3.8vw, 25rem);
}

.number {
  margin-left:0.3rem;
}

#timer span{
  font-family: sans-serif;
  font-weight: bold;
  font-size: clamp(8.4rem, 9.8vw, 30rem);

  margin-top: 5.8rem;
 
  margin-bottom: 6.5rem;

  color: var(--color-text);
}
button {
  background: transparent;
  border: none;
  cursor:  pointer; 
}

.sc-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

/*running*/
.running .play,
html:not(.running) .pause{
  display: none;
}

/*Aside*/
aside {
  grid-area: aside;

  gap: clamp(2rem, 3vw, 3.2rem);;
  /*gap: 3.2rem;*/

  display: grid;
  grid-template-areas: 
  "forest rain"
  "coffe fireplace";
  justify-self: right;
}

.sound-forest {
  grid-area: forest;
}

.sound-rain {
  grid-area: rain;
}

.sound-coffee-shop {
  grid-area: coffee;
}

.sound-fireplace {
  grid-area: fireplace;
} 

aside button img{
  width: clamp(2rem, 3vw, 7.5rem);
}

.box {
  height:clamp(8.4rem, 10.8vw, 30rem);
  width: clamp(8.4rem, 10.8vw, 30rem);
  border-radius: clamp(0.1rem,2.8rem, 10rem);
  background-color: var(--bg-sound);
}

.active {
  background-color: var(--primary-color);
}

.active img{
  background-color: var(--bg-colorr);
  filter: brightness(0) invert(1);
}

@media (max-width: 630px) {
  #container {
   display: grid;
   grid-template-areas: 
   "main"
   "aside";
   grid-area: main;
   
  }
  #controls {
    padding: 1rem;
    gap: clamp(1rem, 4rem, 6rem);
  }
  #timer span {
    font-size: clamp(5rem, 10rem, 30rem);
  }
  
  aside {
    grid-area: aside;
    justify-self: center;
  }
  aside button img{
    width: clamp(2rem, 4vw, 7.5rem);
  }
}